<!-- <header>
  <h2>Mind Lab chat {{username}}</h2>
</header>
<div class="chat-app">
  <div class="messages">
    <div *ngFor="let message of messages" class="message">
    {{message}}
    </div>
  </div>
  <div *ngIf="username == ''" id="username-div">
    <input [ngStyle]="usernameValidatation ? {'border':'2px solid red'} : null" id="username-input" [(ngModel)]="usernameIn" type="name" placeholder="   You sould type your username for chatting!">
    <br/>
    <button (click)="getUsername(usernameIn)" class="button">Enter</button>

  </div>
  <div class="inputs">
    <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" class="message-input" />
    <button (click)="username != '' ? sendMessage(): validatorAlert()" class="button">Send</button>
  </div>
</div> -->
<div id="preloader">
  <img class="preloader" src="../../../assets/images/loader.gif" alt="" />
</div>
<!-- end loader -->
<!-- END LOADER -->

<div id="wrapper">
  <!-- BEGIN # MODAL LOGIN -->
  <div
    class="modal fade"
    id="login-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    style="display: none"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Begin # DIV Form -->
        <div id="div-forms">
          <form id="login-form">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span class="flaticon-add" aria-hidden="true"></span>
            </button>
            <div class="modal-body">
              <input
                class="form-control"
                type="text"
                placeholder="What you are looking for?"
                required
              />
            </div>
          </form>
          <!-- End # Login Form -->
        </div>
        <!-- End # DIV Form -->
      </div>
    </div>
  </div>
  <!-- END # MODAL LOGIN -->

  <header class="header header-normal">
    <div class="topbar clearfix">
      <div class="container">
        <div class="row-fluid">
          <div class="col-md-6 col-sm-6 text-left">
            <p>
              <strong><i class="fa fa-phone"></i></strong> +216 24 440 222
              &nbsp;&nbsp; <strong><i class="fa fa-envelope"></i></strong>
              <a href="mailto:#">mindlabsiteweb@gmail.com</a>
            </p>
          </div>
          <!-- end left -->
          <div class="col-md-6 col-sm-6 hidden-xs text-right">
            <div class="social">
              <a
                class="facebook"
                href="#"
                data-tooltip="tooltip"
                data-placement="bottom"
                title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                class="twitter"
                href="#"
                data-tooltip="tooltip"
                data-placement="bottom"
                title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                class="google"
                href="#"
                data-tooltip="tooltip"
                data-placement="bottom"
                title="Google Plus"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a
                class="linkedin"
                href="#"
                data-tooltip="tooltip"
                data-placement="bottom"
                title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                class="pinterest"
                href="#"
                data-tooltip="tooltip"
                data-placement="bottom"
                title="Pinterest"
                ><i class="fa fa-pinterest"></i
              ></a>
            </div>
            <!-- end social -->
          </div>
          <!-- end left -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end topbar -->

    <div class="container">
      <nav class="navbar navbar-default yamm">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo-normal">
            <a class="navbar-brand" href="index.html"
              ><img src="../../assets/images/logo-dark.png" alt=""
            /></a>
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li>
              <a href="/profile" *ngIf="user.role !== 'admin'">Profile</a>
            </li>
            <li>
              <a href="/library" *ngIf="user.role === 'student'">Library</a>
            </li>
            <li>
              <a href="/store" *ngIf="user.role === 'instructor'">Store</a>
            </li>
            <li><a (click)="Logout()" href="">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <!-- end navbar -->
    </div>
    <!-- end container -->
  </header>
  <br /><br />
  <br /><br />

  <div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">Mind Lab Chat {{ username }}</div>
    </div>
    <div class="chat-app">
      <div class="messages">
        <div *ngFor="let message of messages" class="message">
          {{ message }}
        </div>
      </div>
      <div *ngIf="username == ''" id="username-div">
        <br />
        <input
          [ngStyle]="usernameValidatation ? { border: '2px solid red' } : null"
          id="username-input"
          [(ngModel)]="usernameIn"
          type="name"
          placeholder="   You sould type your username for chatting!"
        />
        <br />
        <br />
        <button (click)="getUsername(usernameIn)" class="but">Enter</button>
      </div>
      <ul class="messages"></ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input
            class="message_input"
            placeholder="Type your message here..."
            [(ngModel)]="message"
            (keyup)="$event.keyCode == 13 && sendMessage()"
            class="message-input"
          />
        </div>
        <div class="send_message">
          <div class="icon"></div>
          <div
            class="text"
            (click)="username != '' ? sendMessage() : validatorAlert()"
            class="button"
          >
            Send
          </div>
        </div>
      </div>
    </div>
    <div class="message_template">
      <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper"><div class="text"></div></div>
      </li>
    </div>
  </div>
</div>
