.btnAddCourse {
  background-color: rgb(94, 233, 94);
  color: white;
  border: 0px;
  border-radius: 2px;
  font-size: 90%;
}

.btnAddCourse:active {
  background-color: #255527;
  border: 0px;
}

.courseVid {
  width: 272px;
  height: 153px;
}
.chat{
  background: url('../../../assets/images/chat.jpg');
  background-size: 800px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  height: 500px;
  cursor: pointer;
}
.chat0{
  cursor: pointer;
  font-weight:bold;
  font-size: 30px;
  padding:20px;
  color:rgb(56, 50, 51);

}
